.one{
    width: 50px;
}
.two{
    border-radius: 1000px!important;
    background-image: url(./images/Frame\ 77.png);
    background-repeat: no-repeat;
    background-size: 85px;
}
.three{
    
}
.four{
    padding-top: 200px;
}